@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/ethnocentric');
@import "tailwindcss";

@theme{
    --font-source-sans-3: 'Source Sans 3', sans-serif;
    --font-ethnocentric: 'Ethnocentric Rg', sans-serif;

    --color-purple-button: #7152F5;

    /* screen sizes */
    --screen-mmd: 875px;
    --screen-xsm: 510px;
}

@layer base{
    html{
        font-family: var(--font-source-sans-3);
    }
}


/* button */
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  border-radius: 34px;
  background-color: transparent;
  border: 1px solid var(--color-purple-button);
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
  background-color: var(--color-purple-button);
}

.button:hover {
  scale: 1.1;
  box-shadow: 0 0px 20px var(--color-purple-button);
  
}

.button:active {
  scale: 1;
  box-shadow: 0 0px 20px var(--color-purple-button);
  background-color: var(--color-purple-button);
}